<%- include("partials/header") %>

<div class="landing bg container">
    <div class="row">
        <div class="col-md-12">
            <img src="images/landing1.png" alt="Center Image" class="center-image">
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>
