<%- include("../partials/header") %>
<h1>Clark Dining Hall Analysis</h1>

<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">Upload your CSV File Upload</h1>

  <div class="text-center">
    <form enctype="multipart/form-data" action="/analysis/diningHall/upload_csv" method="post">
      <div class="mb-3">
        <label for="csvFile" class="form-label">Choose a .csv file:</label>
        <input class="form-control" type="file" name="csvFile" id="csvFile" accept=".csv" required />
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Upload</button>
    </form>
  </div>

  <div class="mt-4 text-center" id="uploadedFileName" style="display: none">
    <h4>Uploaded File:</h4>
    <p id="fileName"></p>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
