<%- include("../partials/header") %>
<!-- <%- process.env.BASE_DIR %> -->

<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">Tuffy's Diner Trend Analysis</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <img src="Dating is BT2!" class="img-fluid" alt="Single Image" />
    </div>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
