<%- include("../partials/header") %>

<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">Clark Dining Hall Trend Analysis</h1>

  <!-- Daily Sales -->
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-3">Daily Sales</h2>
      <img src="/images/graphs/clark/forecasting.png" class="img-fluid" alt="Forcasting Image" />
    </div>
  </div>
  <div class="container mt-5 text-center">
    <button class="btn btn-primary" id="showTextBtn" style="cursor: pointer" onclick="toggleTextDisplay()">Generate AI insights</button>

    <div class="loader mt-3" id="loader" style="display: none;">
      <div class="spinner-border" role="status" style="width: 3rem; height: 3rem">
        <span class="sr-only"></span>
      </div>
    </div>

    <div id="displayText" style="display: none; margin-top: 20px; text-align:left">
      <ul>
        <li>
            <strong>Consistent Variability:</strong>
            <p>Both historical and forecasted footfall show regular fluctuations, suggesting a pattern in visitor numbers that may correlate with weekly cycles or event days.</p>
        </li>
        <li>
            <strong>Forecast Reliability:</strong>
            <p>If the forecast model has been historically accurate, the dining hall can anticipate similar visitor trends in the upcoming 30 days for effective planning.</p>
        </li>
        <li>
            <strong>Potential for Planning:</strong>
            <p>Knowledge of expected footfall can assist in preparing for busy periods and optimizing operations during slower times.</p>
        </li>
        <li>
            <strong>Analysis of Peaks and Troughs:</strong>
            <p>Understanding the causes behind the highest and lowest footfall points could reveal valuable insights into customer behavior and preferences.</p>
        </li>
        <li>
            <strong>Comparative Analysis:</strong>
            <p>Comparing actual footfall with forecasted data will be crucial to validate the forecasting model's accuracy and inform future adjustments.</p>
        </li>
      </ul>
    </div>
  </div>

  <script>
    function toggleTextDisplay() {
      // Show loader
      var loader = document.getElementById("loader");
      loader.style.display = "block";

      // Add a delay of 5 seconds before displaying the text
      setTimeout(function () {
        // Hide loader
        loader.style.display = "none";

        // Display text
        var displayText = document.getElementById("displayText");
        displayText.style.display = displayText.style.display === "none" ? "block" : "none";
      }, 3000); // 5000 milliseconds = 5 seconds
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <br />
  <br />
</div>

<%- include("../partials/footer.ejs") %>
